*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: #B7E0FF;
}
.container{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}
button{
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
h1{
    color:#001F3F;
    margin: 0;
    margin-bottom: 20px;
    font-size: 50px;
}
.meal_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.meal{
    background-color: #001F3F;
    padding: 18px;
    border-radius: 15px;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
    color: white;
    width: 300px;
}
p, h2{
    margin: 0;
    padding-bottom: 10px;
}